<magiumConfiguration xmlns="http://www.magiumlib.com/Configuration">
    <section identifier="section">
        <group identifier="group">
            <element identifier="element">
                <value>Test Value</value>
            </element>
        </group>
    </section>
</magiumConfiguration>
